<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>페이지</title>
</head>
<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .login,
    .sign:hover {
        cursor: pointer;
    }
</style>

<body>
    <div class="wrapper">
        <div class="content">
            <button class="login" onclick="location.href='login'" style="border: none; background-color: white;">
                <img src="./static/img/uu.png" alt="" width="150px"></button>
            <button class="sign" onclick="location.href='sign'" style="border: none; background-color: white;">
                <img src="./static/img/gg.png" alt="" width="150px">
        </div>
    </div>
</body>

</html>