<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign</title>
</head>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
    </script>
<script src="{{url_for('static', filename='./voiceRecord.js')}}"></script>
<script type="text/javascript">
</script>

<body>
    <h2>회원가입</h2>
    <form method="POST">
        id <input name='id' type="text"><br />
        passwd <input name='passwd' type="text"><br />
        <button name='start' id="record">녹음</button>
        <button name='end' id="stop">정지</button>
        <div id="sound-clips"></div>
        <button type="submit">가입</button>
    </form>

</body>

</html>